body{
    margin: auto;
}
.mydiv{
background-color: gray;
border: 1px groove black;
height: 200px;
width: 100%;
text-align: center;
padding: 10px;
}
.icon{
    margin-left: 15px;
}
.div1{
    height: 300px;
    width: 100%;
    background-color: gray ;
}
.container{
    height: 280px;
    width: 50%;
    margin-left: 28%;
}
.tile{
    height: 260px;
    width: 40%;
    float: left;
    margin-top: 3%;
    margin-left: 4%;
}
.imgContainer{
    height: 220px;
    width: 100%;
}
.imgContainer > img{
    height:220px;
    width: 100%;
}
.btnContainer{
    height: 40px;
    width: 100%;
}
button{
    height: 30px;
    width: 20%;
    background-color: lightgrey;
    color: black;
    border: none;
    cursor: pointer;
    margin-left: 38%;
}
.location{
    height: 300px;
    width: 50%;
    float: left;
}
.contact{
    background-color: lightgray;
    text-align: center;
    float: left;
    width: 50%;
    height: 300px;
}
h2{
    color: red;
    text-align: center;
    margin-top: 5%;
}
#info{
    width: 38%;
    margin-left: 30%;
    margin-top: 2%;
}
.logo{
    height: 25px;
    width: 25px;
}
a{
    text-decoration: none;
}
.social{
    height: 40px;
    width: 30%;
    margin-top: 1%;
    margin-left: 32%;
    padding: 1%;
}
